<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
   <div class="container">

        <h1>Perguntas</h1>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
    <% perguntas.forEach((pergunta) =>{ %>

        <div class="card mt-4">
            <div class="card-body">
                <h2> <%= pergunta.titulo  %> </h2>
            </div>
            <div class="card-footer mt-3">
                <button class="btn btn-primary">Responder</button>
            </div>
        </div>
       
      
    <%} )%>
    </div>
   
        
      
</body>
<%- include ('partials/footer.ejs') %>